body {
	background-color: #444;
}

textarea {
	width:			500px;
	height: 		300px;
	font-family: 	monospace;
	font-size:      14px;
}

pre {
    color:          #FFF;
}

.recording {
    background-color:   red;
    color:              #FFF;
}

.playing {
    background-color:   green;
    color:              #FFF;
}
