body {
    font-family:      sans-serif;
	background-color: #444;
    color:            #FFF;
    overflow:         hidden;
    margin:           0;
    padding:          0;
}

textarea {
	font-family: 	  monospace;
	font-size:        14px;
    background:       #EEE;
    box-shadow:       rgba(0, 0, 0, 0.4) 0 0 10px 0 inset;
    border:           0;
    padding:          0;
}

textarea:focus {
    background:       #FFF;
    box-shadow:       none;
}

iframe {
    position:         fixed;
    border:           0;
}

.recording {
    background-color:   red;
    color:              #FFF;
}

.playing {
    background-color:   green;
    color:              #FFF;
}

body > div {
    position:           fixed;
    display:            inline-block;
}

div > div {
    position:           absolute;
    right:              4px;
    top:                4px;
    z-index:            1000;
    color:              #FFF;
    background-color:   rgba(64, 64, 64, 0.75);
    padding:            2px 4px;
    font-size:          12px;
    font-weight:        bold;
}

body > div:nth-child(1) { left:  0; top:    0; }
body > div:nth-child(2) { right: 0; top:    0; }
body > div:nth-child(3) { left:  0; bottom: -4px; }
iframe                  { right: 0; bottom: 0; }
