body {
    font-family:      sans-serif;
	background-color: #444;
    color:            #FFF;
}

textarea {
	width:			  500px;
	height: 		  300px;
	font-family: 	  monospace;
	font-size:        14px;
}

.recording {
    background-color:   red;
    color:              #FFF;
}

.playing {
    background-color:   green;
    color:              #FFF;
}
